# Ignore data files.
*.records

# Ignore pyc and cache
__pycache__
*.pyc
*.ipynb_checkpoints

# Ignore models due to large size.
/models/*
!/models/README.md

# Ignore saved model.
saved_checkpoints/*
!/saved_checkpoints/README.md

# Ignore frozen graphs.
frozen_graphs/*
!/frozen_graphs/README.md

# Ignore nohup out files
*.out

# Ignore this checkpoint folder.
training_ssd_inception_v2_alet
